::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--Amber);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--Amber);
}

::ng-deep .mat-focused .mat-form-field-required-marker {
  color: var(--Amber);
}

.center {
  align-self: center;
}

.width100 {
  width: 100%;
}
