<h1 mat-dialog-title>Change Password</h1>
<form>
  <mat-form-field class="width100">
    <input type="password" matInput placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword">
  </mat-form-field>
  <br>
  <mat-form-field class="width100">
    <input type="password" matInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword">
  </mat-form-field>
  <br>
  <mat-form-field class="width100">
    <input type="password" matInput placeholder="Confirm New Password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword">
  </mat-form-field>
  <br>
  <button mat-raised-button class="main-btn width100" (click)="changePassword()">Change Password</button>
</form>
