<mat-tab-group mat-align-tabs="center" >
  <mat-tab label="Passengers">
    <div class="table-screen">
      <div id="left" class="search-results-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="passenger">
            <th mat-header-cell *matHeaderCellDef>Passenger</th>
            <td mat-cell *matCellDef="let element" [style.border-bottom-style]="'none'">
              <div>
                <app-user-list-item [userDTO]=element [passenger]=true></app-user-list-item>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns"
          ></tr>
        </table>
        <mat-paginator id="passenger-paginator"
          [pageSizeOptions]="[1, 2, 3]"
          showFirstLastButtons
        ></mat-paginator>
      </div>


      <div id="right">
        <app-user-info id="form" style="visibility: hidden" [isPassenger]=true></app-user-info>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Drivers">
    <div class="table-screen">
      <div id="leftDriver" class="search-results-container">
        <table mat-table [dataSource]="dataSourceDriver">
          <ng-container matColumnDef="driver">
            <th mat-header-cell *matHeaderCellDef>Driver</th>
            <td mat-cell *matCellDef="let element" [style.border-bottom-style]="'none'">
              <div>
                <app-user-list-item [userDTO]=element [passenger]=false></app-user-list-item>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsDriver"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsDriver"
          ></tr>
        </table>
        <mat-paginator id="driver-paginator"
          [pageSizeOptions]="[1, 2, 3]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <div id="rightDriver">
        <app-user-info id="formDriver" style="visibility: hidden" [isPassenger]=false></app-user-info>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

