<div id="reset_password">

  <h1 class="d-h1">Don't worry, you will cruise again!</h1>
  <p class="b30">Just enter your email and check your inbox for further instructions.</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" id="email">
      </mat-form-field>
    </div>

    <div>
      <input type="submit" value="Submit" class="t30 main-btn b30">
    </div>

  </form>

</div>
